@CHARSET "UTF-8";
html, body{
    height: 100%;
}
body {
    color: #8A8985; /* teksto spalva */
    font-size: 13px; /* teksto dydis */
    background-color: #474B4B ; /*cdcdc0; #e3e3e3;*/
    margin: 0;
}
a {
    color: #424242;
}
.galva{
    border-bottom: 1px solid #38c172;
    text-align: center;
    padding: 1vh 0;
}
.galva p {
    margin: 0;
}
.container img {
    margin-top: 40px;
    position: relative;
    z-index: 1;
    width: 80%;
}
/* Remove the jumbotron's default bottom margin */
.jumbotron {
   margin-bottom: 0px;
}
.jumbotron h1{
    margin-bottom: 20px;
    font-size: 10px;
    font-family: "Arial";
}

/*
        * Sidebar
        */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    height: 100%;
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;

}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
* Main content
*/

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
* Placeholder dashboard ideas
*/

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
/* Sidebar Styles */
/*
#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474F;
    padding-left: 10px;
}

#sidebar header {
    background-color: #263238;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
}

#sidebar header a {
    color: #fff;
    display: block;
    text-decoration: none;
}

#sidebar header a:hover {
    color: #fff;
}

#sidebar .nav{

}

#sidebar .nav a{
    background: none;
    border-bottom: 1px solid #455A64;
    color: #CFD8DC;
    font-size: 14px;
    padding: 16px 24px;
}

#sidebar .nav a:hover{
    background: none;
    color: #ECEFF1;
}

#sidebar .nav a i{
    margin-right: 16px;
}
*/

/*!* viršutinė puslapio dalis *!*/
/*#header {*/
/*    width: 1300px;*/
/*    height: 200px;*/
/*    background-image: url("pav3.png");*/
/*    background-color: #cccccc;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    !*border-top: 5px solid silver;*/
/*    border-bottom: 5px solid silver;*!*/
/*    float: left;*/

/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/

/*}*/

/*#slogan {*/
/*    margin: 0px 0px 0px 0px;*/
/*    color: #424242;!*#2A2B2C;*!*/
/*    font-size: 50px;*/
/*    font-weight: 500;*/
/*    font-family: Lucida Sans; !*, Georgia; !* šriftas *!*/
/*    letter-spacing: -5px;*/
/*    background-color:#8a7b6b29;*/
/*    text-align: center;*/
/*    width:1300px;*/
/*}*/


/*!* turinio blokelis *!*/
/*#content {*/
/*    width: 1300px;*/
/*    background-color: #f2f1eef7;*/
/*    float: left;*/
/*}*/


/*!* pagrindinio meniu blokelis *!*/
/*#topMenu {*/
/*    width: 1300px;*/
/*    height: 40px;*/
/*    float: left;*/
/*    font-size: 15px;*/
/*    text-transform: uppercase;*/
/*    background-color: #515455;!*#f2f1eef7 ;*!*/


/*}*/
/*#topMenu li {*/
/*    float: left; !* nustatome horizontalųjį meniu punktų lygiavimą *!*/
/*    list-style: none; !* paslepiame sąrašo stiliaus savybes *!*/
/*    margin: 11px 15px 12px 15px; !* nustatome meniu punktų ribas *!*/
/*}*/

/*#topMenu li a {*/
/*    text-decoration: none; !* paslepiame nuorodos pabraukimą *!*/
/*    color: #f2f1eef7;*/
/*    background-color: #515455 ;*/
/*}*/

/*#topMenu li a:hover {*/
/*    text-decoration: underline; !* nustatome nuorodos pabraukimą užvedus pele *!*/
/*}*/

/*#topMenu li a.active {*/
/*    text-decoration: underline; !* nustatome aktyvaus meniu punkto pabraukimą *!*/
/*    color:#B38867 ;*/
/*}*/





/*!* turinio blokelis *!*/
/*#contentRight {*/
/*    width: 1000px;*/
/*    min-height: 470px; !* minimalus blokelio aukštis *!*/
/*    border-left: 2px solid silver;*/
/*    float: left; !* blokelio pozicija *!*/
/*    color:#424242;*/
/*    font-size:16px;*/
/*}*/
/*#img-apie{*/
/*    margin-left: 20px;*/
/*    align-items:center;*/
/*}*/

/*h2#pageTitle {*/
/*    font-size: 26px;*/
/*    margin: 10px 0px 10px 15px;*/
/*    font-weight: normal;*/
/*    border-bottom: 2px solid silver;*/
/*}*/

/*.newsItem {*/
/*    font-size:13px;*/
/*    margin-top:10px;*/
/*    padding-bottom: 20px;*/
/*    border-bottom: 1px solid silver;*/
/*    overflow: auto;*/
/*}*/
/*.newsItem li {*/
/*    float: left; !* nustatome horizontalųjį meniu punktų lygiavimą *!*/
/*    list-style: circle; !* paslepiame sąrašo stiliaus savybes *!*/
/*    margin-left: 30px;*/
/*}*/

/*.newsItemLast {*/
/*    margin-top:10px;*/
/*    border: 0px;*/
/*}*/

/*#contentRight p {*/
/*    margin-top:2px;*/
/*    margin-left: 15px;*/
/*    margin-right: 15px;*/

/*}*/

/*.newsItem p.title {*/
/*    font-size:16px;*/
/*    text-decoration:underline;*/
/*    margin-top:10px;*/


/*}*/
/*#contentRight h4 {*/
/*  !*  font-style:bold;*!*/
/*    margin-left: 15px;*/
/*    margin-right:15px;*/
/*    margin-bottom:0px;*/
/*    font-size:13px;*/
/*    font-weight: 800;*/
/*}*/


/*!* apatinė puslapio dalis *!*/
/*#footer {*/
/*    width: 1300px;*/
/*    height: 60px;*/
/*    float: left;*/
/*    background-color: #515455;*/
/*    color: #fff;*/

/*}*/
/*#footer h2{*/
/*    font-size: 12px;*/
/*    font-weight: normal;*/
/*    color: #B38867;*/
/*    letter-spacing: -0.5px;*/
/*    margin: 10px 0px 15px 10px;*/
/*}*/
/*ul, li {*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    !* list-style: circle;*!*/
/*}*/
/*.links > a {*/
/*    color: red;*/
/*    padding: 0 25px;*/
/*    font-size: 13px;*/
/*    font-weight: 600;*/
/*    letter-spacing: .1rem;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*}*/

/*.custom-btn {*/
/*    max-width: 100%;*/
/*    padding: 6px 30px;*/
/*    font-size: 12px;*/
/*    text-align: right;*/
/*}*/
/*.custom-btn2 {*/
/*    max-width: 50%;*/
/*    padding: 5px 5px;*/
/*    font-size: 5px;*/
/*    background-color: red;*/
/*    color: white;*/
/*}*/




